language: ruby

branches:
  only:
    - master
    - release

os: osx
osx_image: xcode8.1
rvm: system
env:
  global:
    # default?
    - OSX=10.12"
    - HOMEBREW_DEVELOPER="1"


notifications:
  email:
    on_success: never
    on_faiure: always

before_install:
  - bash self_tap.bash

  # attempt to set the maximum number of file descriptors (see bash manpage),
  # seems pointless because this shell doesn't persist... or does it!?
  - ulimit -n 1024

script:
  - brew test-bot
  - bash make_bottles.bash
  - pwd
  - ls -alh

deploy:
  - provider: bintray
    user: killerswan
    file: "*.bintray.json"
    on:
      branch: master
      #condition: "$FIXME == FIXME"
    key:
      secure: "RtPM5AKnfTzLlQ2qGeO1EBwsfsQTB6ordwAXj+vLoXnDznN4C6qb8VWNuQe1A0vp4ZjbqDc5V0C2ZiTnm/VloRMY7CmuI3PrBTdy2QnFS+9rMYXJQwsq2hAynywQvm97F6y3x75OiA4XgWUAvK1Kg0wtwkeKF7m/UOWCJcV+8h8Idtvam3+sNLI/akGcszRLozaQS7bpkvzhp1m8IvFDFCjrM4OdCH4YRpETS2I4UVIWFzVc1gotfiarSePwdrnJ32zCSLWsbjSTNwKh9PXMNeTeR4n6E2Z5AzlB6XXaq7NiT2b8Uk0sKcZgT8EzP40ybGHsW+6xI7qHOMTuz6snYkElzd5K2+cS06R98MCM1CJtvRyPVj/4z8ilMiRGHwVB2hXWDrE1XDgn2Rtdy9a+rDjAnnw82D8ycN4SDeEVn9wh7a+GDgcTX3gZZgaFkC8mRdyYr/pDvmv0b492YjhcwnnxVm9HHonElwNXvOw+f/NSn/kqCC/c9V4eyVu2WZiZVuBemqIWZ1FQm1HFFzAumkO1tiu0Y3mKd1gPryHMawpfjyBUiGA+yUAk6P0LTsTqOyfGb8SdX5uHEyTdXdi28Y9XGkywm0bFUvd7cCkASLfigIxpoMI2LKfUwEOfU9ZfHpj3rHgg3XD4wXTpXi9LNdtUlqcNDeJrS1I83zHF7HE="
